<style>
.bf-h1{
	font-size:26pt;
}
.bf-sm{
	color:red
}
</style>

<div style="display:table-row">
	<div style="display:table-cell">
		<span class="bf-h1">Tip</span><span class="bf-sm">(победит):</span>
	</div>
	<div style="display:table-cell" ng-switch="result.tip">		
		<span ng-switch-when="1" class="bf-h1"> {{result.team1}}</span>
		<span class="bf-h1" ng-switch-when="2"> {{result.team2}}</span>
		<span class="bf-h1" ng-switch-default>{{result.tip}}</span>
	</div>
</div>
<div style="display:table-row">
	<div style="display:table-cell">
		<span class="bf-h1">Odd</span><span class="bf-sm">(коэф.):</span>
	</div>
	<div style="display:table-cell">
		<span class="bf-h1">{{result.odd}}</span>
	</div>
</div>
<div style="display:table-row">
	<div style="display:table-cell">
		<span class="bf-h1">Match</span><span class="bf-sm">(сумма ставок):</span>
	</div>
	<div style="display:table-cell">
		<span class="bf-h1"> {{result.match}}</span>
	</div>
</div>