﻿<html ng-app="soccerwin">
	<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8" />
		<title></title>
	</head>
	<body ng-controller="mainCtrl">
	
	<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Метод [{{choosenMethod.name}}]<span class="caret"></span></a>
          <ul class="dropdown-menu">
          	<li ng-repeat="method in methods">          	
          		<a href="#" ng-click="chooseMethod(method)">{{method.name}}</a>
          	</li>            
          </ul>
        </li>
        <li><a href="#" ng-click="refreshGames()">Обновить</a></li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="searchGame" placeholder="Фильтр матчей">
        </div>        
      </form>      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
	
		<!--<span>Выбор алгоритма прогнозирования матча: </span>
		<select class="form-control" style="width:300px;margin:15px" ng-options="method as method.name for method in methods track by method.id" ng-model="choosenMethod"></select>
-->
		<div class="col-md-4 col-sm-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Сегодняшние матчи
                    <!--<button class="btn btn-default btn-xs pull-right" ng-click="refreshGames()">обновить</button>-->
                </div>
                <div class="panel-body" style="height:80%;overflow-y:scroll" ng-disabled="waitForResult">
                	<div ng-if="waitForGames" class="progress">
					  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
					    Загрузка...
					  </div>
					</div>
                    <ul ng-if="!waitForGames" class="nav nav-pills nav-stacked">
                        <li ng-repeat="game in games | filter: gameFilter" ng-class="{'active': choosenGame == game}">
                            <a href="#" ng-click="$parent.chooseGame(game)">
                                <nobr><span class="game-item"><span class="team1">{{game.team1}}</span> - <span class="team2" >{{game.team2}}</span></span></nobr>                                
                                <br/>
                                <span class="">{{game.date}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
		</div>

		<div class="col-md-8 col-sm-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Результаты
                </div>
                <div class="panel-body" style="height:80%;overflow-y:scroll">
                	<div ng-if="waitForResult" class="progress">
					  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
					    Расчет...
					  </div>
					</div>

                    <div ng-if="!waitForResult">                    	
                    	<div class="well" ng-if="!result">Выберите матч</div>                    	
                    	<div ng-if="result" ng-include="'content/'+choosenMethod.template">                    	
                    </div>
                </div>
            </div>			
		</div>

        <link href="content/bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
        <link href="content/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="content/styles.css" rel="stylesheet" />

		<script src="content/bower_components/angular/angular.js"></script>
		<script src="content/bower_components/jquery/dist/jquery.js"></script>
		<script src="content/bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<script src="content/bower_components/angular-bootstrap/ui-bootstrap.js"></script>
        <script src="content/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
		<script src="content/app.js"></script>
	</body>
</html>
