<style>
	td{
		font-weight: none;
	}
	.sf-h1{
		background-color:#F5DEB3;
	}
	
	.sf-h2{
		background-color:#FAEBD7;
	}
	
	.sf-all{
		background-color:#EEE8AA;
	}
	
	.sf-head-all{
		background-color:#EE82EE;
	}
	
	.sf-head-h1{
		background-color:#F4A460;
	}
	
	.sf-head-h2{
		background-color:#FA8072;
	}
	
	.green-max{
		font-weight:bold;
		color:green;
	}
</style>

<div>
<center>
<h1 style="color:red">Tip (победит): {{result.whoWins}}</h1>
<hr/><table border="1">
	<tr><td class="sf-head-all" colspan="3">Исход</td></tr>
	<tr>
		<td class="sf-all">1</td> 
		<td class="sf-all">X</td> 
		<td class="sf-all">2</td> 		
	</tr>
	<tr>
		<td class="sf-all" ng-class="{'green-max':result.singleAll.team1 >= 0.3}">{{result.singleAll.team1 | percentage:2}}</td> 
		<td class="sf-all" ng-class="{'green-max':result.singleAll.teamX >= 0.3}">{{result.singleAll.teamX | percentage:2}}</td> 
		<td class="sf-all" ng-class="{'green-max':result.singleAll.team2 >= 0.3}">{{result.singleAll.team2 | percentage:2}}</td> 
	</tr>
	<tr>
		<td class="sf-all">{{(1/result.singleAll.team1) | number: 2}}</td> 
		<td class="sf-all">{{(1/result.singleAll.teamX) | number: 2}}</td> 
		<td class="sf-all">{{(1/result.singleAll.team2) | number: 2}}</td> 

	</tr>
</table>
<hr/><table border="1">
	<tr>
		<td class="sf-head-all" colspan="4">ТБ ТМ</td>
	</tr>
	<tr>
		<td class="sf-all">OV {{result.ovun2[0].i}},5</td> 
		<td class="sf-all">UN {{result.ovun2[0].i}},5</td> 
		<td class="sf-all">OV {{result.ovun2[1].i}},5</td> 
		<td class="sf-all">UN {{result.ovun2[1].i}},5</td> 
	</tr>
	<tr>
		<td class="sf-all">{{result.ovun2[0].ov | percentage: 2}}</td> 
		<td class="sf-all">{{result.ovun2[0].un | percentage: 2}}</td> 
		<td class="sf-all">{{result.ovun2[1].ov | percentage: 2}}</td> 
		<td class="sf-all">{{result.ovun2[1].un | percentage: 2}}</td> 
	</tr>
	<tr>
		<td class="sf-all">{{(1/result.ovun2[0].ov) | number: 2}}</td> 
		<td class="sf-all">{{(1/result.ovun2[0].un) | number: 2}}</td> 
		<td class="sf-all">{{(1/result.ovun2[1].ov) | number: 2}}</td> 
		<td class="sf-all">{{(1/result.ovun2[1].un) | number: 2}}</td> 
	</tr>
	<tr>
		<td class="sf-all">OV {{result.ovun2[2].i}},5</td> 
		<td class="sf-all">UN {{result.ovun2[2].i}},5</td> 
		<td class="sf-all">OV {{result.ovun2[3].i}},5</td> 
		<td class="sf-all">UN {{result.ovun2[3].i}},5</td>
	</tr>
	<tr>
		<td class="sf-all">{{result.ovun2[2].ov | percentage: 2}}</td> 
		<td class="sf-all">{{result.ovun2[2].un | percentage: 2}}</td> 
		<td class="sf-all">{{result.ovun2[3].ov | percentage: 2}}</td> 
		<td class="sf-all">{{result.ovun2[3].un | percentage: 2}}</td>
	</tr>
	<tr>
		<td class="sf-all">{{(1/result.ovun2[2].ov) | number: 2}}</td> 
		<td class="sf-all">{{(1/result.ovun2[2].un) | number: 2}}</td> 
		<td class="sf-all">{{(1/result.ovun2[3].ov) | number: 2}}</td> 
		<td class="sf-all">{{(1/result.ovun2[3].un) | number: 2}}</td>
	</tr>
</table>

<hr/><table border="1">
	<tr><td class="sf-head-h1" colspan="3">1-й тайм</td></tr>
	<tr>
		<td class="sf-h1">1</td> 
		<td class="sf-h1">X</td> 
		<td class="sf-h1">2</td> 
	</tr>
	<tr>
		<td class="sf-h1" ng-class="{'green-max':result.singleHalf1.team1 >= 0.3}">{{result.singleHalf1.team1 | percentage:2}}</td> 
		<td class="sf-h1" ng-class="{'green-max':result.singleHalf1.teamX >= 0.3}">{{result.singleHalf1.teamX | percentage:2}}</td> 
		<td class="sf-h1" ng-class="{'green-max':result.singleHalf1.team2 >= 0.3}">{{result.singleHalf1.team2 | percentage:2}}</td> 
	</tr>
	<tr>
		<td class="sf-h1">{{(1/result.singleHalf1.team1) | number: 2}}</td> 
		<td class="sf-h1">{{(1/result.singleHalf1.teamX) | number: 2}}</td> 
		<td class="sf-h1">{{(1/result.singleHalf1.team2) | number: 2}}</td> 
	</tr>
</table>

<hr/><table border="1">
	<tr><td class="sf-head-h1" colspan="3">2-й тайм</td></tr>
	<tr>
		<td class="sf-h2">1</td> 
		<td class="sf-h2">X</td> 
		<td class="sf-h2">2</td>
	</tr>
	<tr>
		<td class="sf-h2" ng-class="{'green-max':result.singleHalf2.team1 >= 0.3}">{{result.singleHalf2.team1 | percentage:2}}</td> 
		<td class="sf-h2" ng-class="{'green-max':result.singleHalf2.teamX >= 0.3}">{{result.singleHalf2.teamX | percentage:2}}</td>
		<td class="sf-h2" ng-class="{'green-max':result.singleHalf2.team2 >= 0.3}">{{result.singleHalf2.team2 | percentage:2}}</td>
	</tr>
	<tr>
		<td class="sf-h2">{{(1/result.singleHalf2.team1) | number: 2}}</td> 
		<td class="sf-h2">{{(1/result.singleHalf2.teamX) | number: 2}}</td> 
		<td class="sf-h2">{{(1/result.singleHalf2.team2) | number: 2}}</td>
	</tr>
</table>

<hr/><table border="1">
	<tr>
		<td class="sf-head-all" colspan="3">Двойной исход</td>
	</tr>
	<tr>
		<td class="sf-all">1X</td> 
		<td class="sf-all">12</td> 
		<td class="sf-all">2X</td> 
	</tr>
	<tr>
		<td class="sf-all">{{result.doubleAll.team1 | percentage:2}}</td> 
		<td class="sf-all">{{result.doubleAll.teamX | percentage:2}}</td> 
		<td class="sf-all">{{result.doubleAll.team2 | percentage:2}}</td> 
	</tr>
	<tr>
		<td class="sf-all">{{(1/result.doubleAll.team1) | number: 2}}</td> 
		<td class="sf-all">{{(1/result.doubleAll.teamX) | number: 2}}</td> 
		<td class="sf-all">{{(1/result.doubleAll.team2) | number: 2}}</td> 
	</tr>
</table>

<hr/><table border="1">
	<tr>
		<td class="sf-head-h1" colspan="3">Двойной исход 1-й тайм</td>
	</tr>
	<tr>
		<td class="sf-all">1X</td> 
		<td class="sf-all">12</td> 
		<td class="sf-all">2X</td> 
	</tr>
	<tr>
		<td class="sf-h1">{{result.doubleHalf1.team1 | percentage:2}}</td> 
		<td class="sf-h1">{{result.doubleHalf1.teamX | percentage:2}}</td> 
		<td class="sf-h1">{{result.doubleHalf1.team2 | percentage:2}}</td> 
	</tr>
	<tr>
		<td class="sf-h1">{{(1/result.doubleHalf1.team1) | number: 2}}</td> 
		<td class="sf-h1">{{(1/result.doubleHalf1.teamX) | number: 2}}</td> 
		<td class="sf-h1">{{(1/result.doubleHalf1.team2) | number: 2}}</td> 
	</tr>
</table>


<hr/><table border="1">
	<tr>
		<td class="sf-head-h2" colspan="3">Двойной исход 2-й тайм</td>
	</tr>
	<tr>
		<td class="sf-all">1X</td> 
		<td class="sf-all">12</td> 
		<td class="sf-all">2X</td>
	</tr>
	<tr>
		<td class="sf-h2">{{result.doubleHalf2.team1 | percentage:2}}</td> 
		<td class="sf-h2">{{result.doubleHalf2.teamX | percentage:2}}</td> 
		<td class="sf-h2">{{result.doubleHalf2.team2 | percentage:2}}</td>
	</tr>
	<tr>
		<td class="sf-h2">{{(1/result.doubleHalf2.team1) | number: 2}}</td> 
		<td class="sf-h2">{{(1/result.doubleHalf2.teamX) | number: 2}}</td> 
		<td class="sf-h2">{{(1/result.doubleHalf2.team2) | number: 2}}</td>
	</tr>
</table>

<hr/><table border="1">
	<tr>
		<td class="sf-head-all" colspan="4">Точный счет</td>
	</tr>
	<tr>
		<td class="sf-all">{{result.scoreAll[0].g1}}-{{result.scoreAll[0].g2}}</td> 
		<td class="sf-all" ng-class="{'green-max':result.scoreAll[0].perc >= 0.1}">{{result.scoreAll[0].perc | percentage:2}}</td> 
		<td class="sf-all">{{result.scoreAll[1].g1}}-{{result.scoreAll[1].g2}}</td> 
		<td class="sf-all" ng-class="{'green-max':result.scoreAll[1].perc >= 0.1}">{{result.scoreAll[1].perc | percentage:2}}</td> 
	</tr>
	<tr>
		<td class="sf-all">{{result.scoreAll[2].g1}}-{{result.scoreAll[2].g2}}</td> 
		<td class="sf-all" ng-class="{'green-max':result.scoreAll[2].perc >= 0.1}">{{result.scoreAll[2].perc | percentage:2}}</td> 
		<td class="sf-all">{{result.scoreAll[3].g1}}-{{result.scoreAll[3].g2}}</td> 
		<td class="sf-all" ng-class="{'green-max':result.scoreAll[3].perc >= 0.1}">{{result.scoreAll[3].perc | percentage:2}}</td> 
	</tr>
	<tr>
		<td class="sf-all">{{result.scoreAll[4].g1}}-{{result.scoreAll[4].g2}}</td> 
		<td class="sf-all" ng-class="{'green-max':result.scoreAll[4].perc >= 0.1}">{{result.scoreAll[4].perc | percentage:2}}</td> 
		<td class="sf-all">{{result.scoreAll[5].g1}}-{{result.scoreAll[5].g2}}</td> 
		<td class="sf-all" ng-class="{'green-max':result.scoreAll[5].perc >= 0.1}">{{result.scoreAll[5].perc | percentage:2}}</td> 
	</tr>
	<tr>
		<td class="sf-all">{{result.scoreAll[6].g1}}-{{result.scoreAll[6].g2}}</td> 
		<td class="sf-all" ng-class="{'green-max':result.scoreAll[6].perc >= 0.1}">{{result.scoreAll[6].perc | percentage:2}}</td> 
		<td class="sf-all">{{result.scoreAll[7].g1}}-{{result.scoreAll[7].g2}}</td> 
		<td class="sf-all" ng-class="{'green-max':result.scoreAll[7].perc >= 0.1}">{{result.scoreAll[7].perc | percentage:2}}</td> 
	</tr>
	<tr>
		<td class="sf-all">{{result.scoreAll[8].g1}}-{{result.scoreAll[8].g2}}</td> 
		<td class="sf-all" ng-class="{'green-max':result.scoreAll[8].perc >= 0.1}">{{result.scoreAll[8].perc | percentage:2}}</td> 
		<td class="sf-all">Другой</td> 
		<td class="sf-all" ng-class="{'green-max':result.scoreAllOther >= 0.1}" rowspan="2">{{result.scoreAllOther | percentage: 2}}</td>
	</tr>
</table>

<hr/><table border="1">
	<tr>
		<td class="sf-head-all" colspan="4">Тотал голов</td>
	</tr>
	<tr>
		<td class="sf-all">0</td> 
		<td class="sf-all">1</td> 
		<td class="sf-all">2</td> 
		<td class="sf-all">3</td> 
	</tr>
	<tr>
		<td class="sf-all">{{result.totalGoalsAll[0] | percentage: 2}}</td> 
		<td class="sf-all">{{result.totalGoalsAll[1] | percentage: 2}}</td> 
		<td class="sf-all">{{result.totalGoalsAll[2] | percentage: 2}}</td> 
		<td class="sf-all">{{result.totalGoalsAll[3] | percentage: 2}}</td> 
	</tr>
	<tr>
		<td class="sf-all">{{(1/result.totalGoalsAll[0]) | number: 2}}</td> 
		<td class="sf-all">{{(1/result.totalGoalsAll[1]) | number: 2}}</td> 
		<td class="sf-all">{{(1/result.totalGoalsAll[2]) | number: 2}}</td> 
		<td class="sf-all">{{(1/result.totalGoalsAll[3]) | number: 2}}</td> 
	</tr>
	<tr>
		<td class="sf-all">4</td> 
		<td class="sf-all">5</td> 
		<td class="sf-all">6</td> 
		<td class="sf-all">&gt;6</td>
	</tr>
	<tr>
		<td class="sf-all">{{result.totalGoalsAll[4] | percentage: 2}}</td> 
		<td class="sf-all">{{result.totalGoalsAll[5] | percentage: 2}}</td> 
		<td class="sf-all">{{result.totalGoalsAll[6] | percentage: 2}}</td> 
		<td class="sf-all">{{result.totalGoalsAll[7] | percentage: 2}}</td>
	</tr>
	<tr>
		<td class="sf-all">{{(1/result.totalGoalsAll[4]) | number: 2}}</td> 
		<td class="sf-all">{{(1/result.totalGoalsAll[5]) | number: 2}}</td> 
		<td class="sf-all">{{(1/result.totalGoalsAll[6]) | number: 2}}</td> 
		<td class="sf-all">{{(1/result.totalGoalsAll[7]) | number: 2}}</td>
	</tr>	
</table>

<hr/><table border="1">
	<tr>
		<td class="sf-head-h1" colspan="4">Точный счет 1-й тайм</td>
	</tr>
	<tr>
		<td class="sf-h1">{{result.scoreHalf1[0].g1}}-{{result.scoreHalf1[0].g2}}</td> 
		<td class="sf-h1" ng-class="{'green-max':result.scoreHalf1[0].perc >= 0.1}">{{result.scoreHalf1[0].perc | percentage:2}}</td> 
		<td class="sf-h1">{{result.scoreHalf1[1].g1}}-{{result.scoreHalf1[1].g2}}</td> 
		<td class="sf-h1" ng-class="{'green-max':result.scoreHalf1[1].perc >= 0.1}">{{result.scoreHalf1[1].perc | percentage:2}}</td> 
	</tr>
	<tr>
		<td class="sf-h1">{{result.scoreHalf1[2].g1}}-{{result.scoreHalf1[2].g2}}</td> 
		<td class="sf-h1" ng-class="{'green-max':result.scoreHalf1[2].perc >= 0.1}">{{result.scoreHalf1[2].perc | percentage:2}}</td> 
		<td class="sf-h1">{{result.scoreHalf1[3].g1}}-{{result.scoreHalf1[3].g2}}</td> 
		<td class="sf-h1" ng-class="{'green-max':result.scoreHalf1[3].perc >= 0.1}">{{result.scoreHalf1[3].perc | percentage:2}}</td> 
	</tr>
	<tr>
		<td class="sf-h1">{{result.scoreHalf1[4].g1}}-{{result.scoreHalf1[4].g2}}</td> 
		<td class="sf-h1" ng-class="{'green-max':result.scoreHalf1[4].perc >= 0.1}">{{result.scoreHalf1[4].perc | percentage:2}}</td> 
		<td class="sf-h1">{{result.scoreHalf1[5].g1}}-{{result.scoreHalf1[5].g2}}</td> 
		<td class="sf-h1" ng-class="{'green-max':result.scoreHalf1[5].perc >= 0.1}">{{result.scoreHalf1[5].perc | percentage:2}}</td> 
	</tr>
	<tr>
		<td class="sf-h1">{{result.scoreHalf1[6].g1}}-{{result.scoreHalf1[6].g2}}</td> 
		<td class="sf-h1" ng-class="{'green-max':result.scoreHalf1[6].perc >= 0.1}">{{result.scoreHalf1[6].perc | percentage:2}}</td> 
		<td class="sf-h1">{{result.scoreHalf1[7].g1}}-{{result.scoreHalf1[7].g2}}</td> 
		<td class="sf-h1" ng-class="{'green-max':result.scoreHalf1[7].perc >= 0.1}">{{result.scoreHalf1[7].perc | percentage:2}}</td> 
	</tr>
	<tr>
		<td class="sf-h1">{{result.scoreHalf1[8].g1}}-{{result.scoreHalf1[8].g2}}</td> 
		<td class="sf-h1" ng-class="{'green-max':result.scoreHalf1[8].perc >= 0.1}">{{result.scoreHalf1[8].perc | percentage:2}}</td> 
		<td class="sf-h1">Другой</td>
		<td class="sf-h1" ng-class="{'green-max':result.scoreHalf1Other >= 0.1}" rowspan="2">{{result.scoreHalf1Other | percentage: 2}}</td> 
	</tr>
</table>

<hr/><table border="1">
	<tr>
		<td class="sf-head-h2" colspan="4">Точный счет 2-й тайм</td>
	</tr>
	<tr>
		<td class="sf-h2">{{result.scoreHalf2[0].g1}}-{{result.scoreHalf2[0].g2}}</td> 
		<td class="sf-h2">{{result.scoreHalf2[0].perc | percentage:2}}</td> 
		<td class="sf-h2">{{result.scoreHalf2[1].g1}}-{{result.scoreHalf2[1].g2}}</td> 
		<td class="sf-h2">{{result.scoreHalf2[1].perc | percentage:2}}</td> 
	</tr>
	<tr>
		<td class="sf-h2">{{result.scoreHalf2[2].g1}}-{{result.scoreHalf2[2].g2}}</td> 
		<td class="sf-h2">{{result.scoreHalf2[2].perc | percentage:2}}</td> 
		<td class="sf-h2">{{result.scoreHalf2[3].g1}}-{{result.scoreHalf2[3].g2}}</td> 
		<td class="sf-h2">{{result.scoreHalf2[3].perc | percentage:2}}</td> 
	</tr>
	<tr>
		<td class="sf-h2">{{result.scoreHalf2[4].g1}}-{{result.scoreHalf2[4].g2}}</td> 
		<td class="sf-h2">{{result.scoreHalf2[4].perc | percentage:2}}</td> 
		<td class="sf-h2">{{result.scoreHalf2[5].g1}}-{{result.scoreHalf2[5].g2}}</td> 
		<td class="sf-h2">{{result.scoreHalf2[5].perc | percentage:2}}</td> 
	</tr>
	<tr>
		<td class="sf-h2">{{result.scoreHalf2[6].g1}}-{{result.scoreHalf2[6].g2}}</td> 
		<td class="sf-h2">{{result.scoreHalf2[6].perc | percentage:2}}</td> 
		<td class="sf-h2">{{result.scoreHalf2[7].g1}}-{{result.scoreHalf2[7].g2}}</td> 
		<td class="sf-h2">{{result.scoreHalf2[7].perc | percentage:2}}</td> 
	</tr>
	<tr>
		<td class="sf-h2">{{result.scoreHalf2[8].g1}}-{{result.scoreHalf2[8].g2}}</td> 
		<td class="sf-h2">{{result.scoreHalf2[8].perc | percentage:2}}</td> 
		<td class="sf-h2">Другой</td> 
		<td class="sf-h2" rowspan="2">{{result.scoreHalf2Other | percentage: 2}}</td>
	</tr>
</table>
<hr/>
<table border="1">
	<tr>
		<td class="sf-all" colspan="3">Тотал</td>
	</tr>
	<tr>
		<td class="sf-all">{{result.ovun[0].name}}</td> 
		<td class="sf-all">{{result.ovun[1].name}}</td> 
		<td class="sf-all">{{result.ovun[2].name}}</td> 
	</tr>
	<tr>
		<td class="sf-all">{{result.ovun[0].perc | percentage: 2}}</td> 
		<td class="sf-all">{{result.ovun[1].perc | percentage: 2}}</td> 
		<td class="sf-all">{{result.ovun[2].perc | percentage: 2}}</td> 
	</tr>
	<tr>
		<td class="sf-all">{{(1/result.ovun[0].perc) | number: 2}}</td> 
		<td class="sf-all">{{(1/result.ovun[1].perc) | number: 2}}</td> 
		<td class="sf-all">{{(1/result.ovun[2].perc) | number: 2}}</td> 
	</tr>
	<tr>
		<td class="sf-all">{{result.ovun[3].name}}</td> 
		<td class="sf-all">{{result.ovun[4].name}}</td> 
		<td class="sf-all">{{result.ovun[5].name}}</td>
	</tr>
	<tr>
		<td class="sf-all">{{result.ovun[3].perc | percentage: 2}}</td> 
		<td class="sf-all">{{result.ovun[4].perc | percentage: 2}}</td> 
		<td class="sf-all">{{result.ovun[5].perc | percentage: 2}}</td> 
	</tr>
	<tr>
		 <td class="sf-all">{{(1/result.ovun[3].perc) | number: 2}}</td> 
		<td class="sf-all">{{(1/result.ovun[4].perc) | number: 2}}</td> 
		<td class="sf-all">{{(1/result.ovun[5].perc) | number: 2}}</td> 		
	</tr>
	
</table>

<hr/><table border="1">
	<tr>
		<td class="sf-head-h1" colspan="4">Тотал голов 1-й тайм</td>
	</tr>
	<tr>
		<td class="sf-h1">0</td> 
		<td class="sf-h1">1</td> 
		<td class="sf-h1">2</td> 
		<td class="sf-h1">&gt;2</td> 
	</tr>
	<tr>
		<td class="sf-h1">{{result.totalGoalsHalf1[0] | percentage: 2}}</td> 
		<td class="sf-h1">{{result.totalGoalsHalf1[1] | percentage: 2}}</td> 
		<td class="sf-h1">{{result.totalGoalsHalf1[2] | percentage: 2}}</td> 
		<td class="sf-h1">{{result.totalGoalsHalf1[3] | percentage: 2}}</td>
	</tr>
	<tr>
		<td class="sf-h1">{{(1/result.totalGoalsHalf1[0]) | number: 2}}</td> 
		<td class="sf-h1">{{(1/result.totalGoalsHalf1[1]) | number: 2}}</td> 
		<td class="sf-h1">{{(1/result.totalGoalsHalf1[2]) | number: 2}}</td> 
		<td class="sf-h1">{{(1/result.totalGoalsHalf1[3]) | number: 2}}</td> 
	</tr>
</table>

<hr/><table border="1">
	<tr>
		<td class="sf-head-h2" colspan="4">Тотал голов 2-й тайм</td>
	</tr>
	<tr>
		<td class="sf-h2">0</td> 
		<td class="sf-h2">1</td> 
		<td class="sf-h2">2</td> 
		<td class="sf-h2">&gt;2</td>
	</tr>
	<tr>
		<td class="sf-h2">{{result.totalGoalsHalf2[0] | percentage: 2}}</td> 
		<td class="sf-h2">{{result.totalGoalsHalf2[1] | percentage: 2}}</td> 
		<td class="sf-h2">{{result.totalGoalsHalf2[2] | percentage: 2}}</td> 
		<td class="sf-h2">{{result.totalGoalsHalf2[3] | percentage: 2}}</td>
	</tr>
	<tr>
		<td class="sf-h2">{{(1/result.totalGoalsHalf2[0]) | number: 2}}</td> 
		<td class="sf-h2">{{(1/result.totalGoalsHalf2[1]) | number: 2}}</td> 
		<td class="sf-h2">{{(1/result.totalGoalsHalf2[2]) | number: 2}}</td> 
		<td class="sf-h2">{{(1/result.totalGoalsHalf2[3]) | number: 2}}</td>
	</tr>
</table>

</center>

</div>