﻿td {
	border-width: 2px;
	font-family:Bodoni MT Black;
	font-size:15pt;
	/*font-weight:bold;*/
	text-align: center;
}

.game-item {
	font-family: Calibri;
	font-size:11pt;
	font-weight:bold;
}
.team1 {
	color: #92d050;
}
.team2{
	color: #8db3e1;
}

.result{

}

.cell-1{
	background-color:#403152;
	color:white;
}

.cell-2{
	background-color:#00b5f4;
	color:black;
}

.cell-3{
	background-color:#17375e;
	color:white;
}
