<hr/><table border="1">
	<tr>
		<td colspan="3" style="">Статистика</td>
	</tr>
	<tr>
		<td class="cell-2">{{result.team1}}</td>
		<td class="cell-2">Команды:</td>
		<td class="cell-2">{{result.team2}}</td>
	</tr>
	<tr>
		<td>{{result.i5}}</td>
		<td>Кол-во матчей</td>
		<td>{{result.k5}}</td>
	</tr>
	<tr>
		<td>{{result.i6}}</td>
		<td>Забито дома</td>
		<td>{{result.k6}}</td>
	</tr>
	<tr>
		<td>{{result.i7}}</td>
		<td>Забито в гостях</td>
		<td>{{result.k7}}</td>
	</tr>
	<tr>
		<td>{{result.i8}}</td>
		<td>Пропущено дома</td>
		<td>{{result.k8}}</td>
	</tr>
	<tr>
		<td>{{result.i9}}</td>
		<td>Пропущено в гостях</td>
		<td>{{result.k9}}</td>
	</tr>
	<tr>
		<td>{{result.i11 | number: 2}}</td>
		<td>Атака</td>
		<td>{{result.k11 | number: 2}}</td>
	</tr>
	<tr>
		<td>{{result.i12 | number: 2}}</td>
		<td>Оборона</td>
		<td>{{result.k12 | number: 2}}</td>
	</tr>
	<tr>
		<td>{{result.i13 | number: 2}}</td>
		<td>Рейтинг</td>
		<td>{{result.k13 | number: 2}}</td>
	</tr>
</table>

<hr/><table border="1">
	<tr>
		<td colspan="2" class="cell-1">Счет 1 и вероятность 0 Голов</td>
	</tr>
	<tr>
		<td class="cell-3">{{result.c5}}</td>
		<td class="cell-3">{{result.d5}}</td>
	</tr>
	<tr>
		<td>{{result.c6 | number: 1}} %</td>
		<td>{{result.d6 | number: 1}} %</td>
	</tr>
	
</table>

<hr/><table border="1">
	<tr>
		<td colspan="2" class="cell-1">Счет</td>
	</tr>
	<tr>
		<td class="cell-3">{{result.e5}}</td>
		<td class="cell-3">{{result.f5}}</td>
	</tr>
	<tr>
		<td class="cell-3">{{result.e6}}</td>
		<td class="cell-3">{{result.f6}}</td>
	</tr>	
</table>

<hr/><table border="1">
	<tr>
		<td colspan="2" class="cell-1">Счет 2 и вероятность 0 Голов</td>
	</tr>
	<tr>
		<td class="cell-3">{{result.g5}}</td>
		<td class="cell-3">{{result.h5}}</td>
	</tr>
	<tr>
		<td>{{result.g6 | number: 1}} %</td>
    	<td>{{result.h6 | number: 1}} %</td>
	</tr>
</table>

<hr/><table border="1">
	<tr>
		<td class="cell-3">Обе забьют"Да"</td>
		<td>{{result.d7 | percentage: 2}}</td>
	</tr>	
</table>

<hr/><table border="1">
	<tr>
		<td class="cell-3">Обе забьют"Нет"</td>
		<td>{{result.h7 | percentage: 2}}</td>
	</tr>	
</table>

<hr/><table border="1">
	<tr>
		<td class="cell-1" colspan="3">Событие</td>
	</tr>
	<tr>
		<td class="cell-1">Победа1</td>
		<td class="cell-1">Ничья</td>
		<td class="cell-1">Победа 2</td>
	</tr>
	<tr>
		<td>{{result.d17 | number: 2}}</td>
		<td>{{result.e17 | number: 2}}</td>
		<td>{{result.f17 | number: 2}}</td>
	</tr>
	<tr>
		<td>{{result.d18 | number: 4}}</td>
		<td>{{result.e18 | number: 4}}</td>
		<td>{{result.f18 | number: 4}}</td>
	</tr>
	<tr>
		<td class="cell-1">ТМ 2.5</td>
		<td class="cell-1">ТБ 2.5</td>
		<td></td>
	</tr>
	<tr>
		<td>{{result.g17 | number: 2}}</td>
		<td>{{result.h17 | number: 2}}</td>
		<td></td>
	</tr>
	<tr>
		<td>{{result.g18 | number: 4}}</td>
		<td>{{result.h18 | number: 4}}</td>
		<td></td>
	</tr>
	
</table>
<hr/><table border="1">
	<tr>
		<td colspan="2" class="cell-1">Расчет Голов</td>
	</tr>
	<tr>
		<td rowspan="2">{{result.e23 | number: 2}}</td>
		<td rowspan="2">{{result.f23 | number: 2}}</td>
	</tr>
	
</table>

<hr/><table border="1">
	<tr>
		<td colspan="2" class="cell-1">Вероятность забитого гола:</td>
	</tr>
	<tr>
		<td>{{result.team1}}</td>
		<td>{{result.team2}}</td>
	</tr>
	<tr>
		<td>{{result.g24}}</td>
		<td>{{result.h24}}</td>	
	</tr>	
</table>
<hr/>
